.afeqqfqq {
  display: none;
}
.afeqqq {
  display: none;
}
.css-70j9 {
  display: none;
}
.mbhomebgew {
  display: none;
}
.css-ffh33a {
  font-size: 24px;
  font-weight: 400;
}
.css-y2x020 {display: none;}
@media only screen and (max-width: 900px) {
.homebgew {
    display: none;
}
.mbhomebgew {
    display: block;
}
    .css-y2x020 {
        display: block;
        height: 92px;
        width: 100%;
        position: relative;
        z-index: 1;
        padding-top: 12px;
        padding-bottom: 12px;
        background: transparent;
    }
    .css-1ekb41w {
        width: 100%;
        margin-left: auto;
        box-sizing: border-box;
        margin-right: auto;
        display: block;
        padding-left: 16px;
        padding-right: 16px;
    }.css-1hz2nbz {
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        align-items: center;
        padding-left: 0px;
        padding-right: 0px;
    }.css-1t7phkd {
        margin: 0px 0px 0px 8px;
        line-height: 1.5;
        letter-spacing: 0.00938em;
        color: rgb(255, 255, 255);
        font-weight: 700;
        font-size: 24px;
        font-family: Poppins;
    }.css-1mucns2 {
        display: flex;
        -webkit-box-pack: end;
        justify-content: end;
        -webkit-box-align: center;
        align-items: center;
    }.css-1ujsas3 {
        display: inline-flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        position: relative;
        box-sizing: border-box;
        -webkit-tap-highlight-color: transparent;
        background-color: transparent;
        outline: 0px;
        border: 0px;
        margin: 0px;
        cursor: pointer;
        user-select: none;
        vertical-align: middle;
        appearance: none;
        text-decoration: none;
        font-family: Roboto, Helvetica, Arial, sans-serif;
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 1.75;
        letter-spacing: 0.02857em;
        text-transform: uppercase;
        min-width: 64px;
        padding: 6px 8px;
        border-radius: 4px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        color: rgb(25, 118, 210);
    }.css-aoeo82 {
        background-color: rgb(255, 255, 255);
        color: rgba(0, 0, 0, 0.87);
        transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        border-radius: 4px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
    }
  .css-ffh33a {
    font-size: 18px;
    font-weight: 400;
  }
  .css-70qvj9 {
    display: none;
  }
  .css-70j9 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 24px;
    -webkit-box-pack: center;
    justify-content: center;
  }
  .css-5f1k8g {
    padding: 0px;
  }
  .css-pyvw4l {
    display: none;
  }
  .scroll-mobile {
    width: 5%;
    margin-right: 70px;
  }
  .css-hwrk3o {
    margin-top: 24px;
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
    z-index: 1;
    background: rgb(28, 29, 35);
  }
  .css-k6p4w5 {
    display: none;
  }
  .css-y37s0o {
    display: none;
  }
  .css-qsi7ce {
    margin: -24px 0px 0px;
    letter-spacing: 0.00938em;
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 100.2%;
    color: rgb(255, 255, 255);
  }
  .css-1x5tyr {
    padding-left: 0px;
    padding-right: 0px;
  }
  .css-1asgq2p {
    margin: 0px 10px 0px 0px;
  }
  .css-12vb82 {
    flex-direction: column;
  }
  .css-xztyrm {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 40px;
    padding-left: 0px;
    padding-right: 0px;
    background: radial-gradient(
        54.8% 53% at 50% 50%,
        rgb(21, 21, 21) 0px,
        rgba(21, 21, 21, 0) 100%
      ),
      linear-gradient(
        152.97deg,
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0)
      );
    backdrop-filter: blur(30px);
    border-radius: 16px;
    text-align: center;
    border: 1px solid rgb(65, 66, 71);
  }
  .css-sto8ku {
    margin-left: 0px;
    margin-right: 0px;
  }
  .css-mx0kef {
    padding-left: 4px;
    padding-right: 4px;
  }
  .css-11nx4co {
    margin-left: 0px;
    margin-right: 0px;
  }
  .css-ig5662 {
    background-image: url(./mobilebgshop.99bbbd0aa7fbf98ffc68.png);
    margin: 0px;
  }
  .css-1h9goj4 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .css-1cttwmx {
    padding-left: 0px;
    padding-right: 0px;
  }
  .css-coiqp6 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .css-69rk5r {
    padding-left: 0px;
    padding-right: 0px;
  }
  .css-2sb83w {
    padding-left: 0px;
    padding-right: 0px;
  }
  .css-iol86l {
    padding-left: 0px;
    padding-right: 0px;
  }
  .css-1kjo9vh {
    margin: 0px;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 700;
    font-family: Poppins;
  }
  .css-1sg8sgi {
    margin: 0px 0px 40px;
    letter-spacing: 0.00938em;
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 700;
    font-family: Poppins;
    line-height: 28px;
  }
  .css-95g4uk {
    flex-direction: column;
    gap: 15px;
  }
  .css-s544tp {
    padding: 24px 16px 0px;
  }
  .css-duvbq8 {
    font-weight: 700;
    font-size: 20px;
  }
  .css-16uuuzl {
    font-weight: 700;
    font-size: 20px;
  }
  .css-7qq5cq {
    font-weight: 700;
    font-size: 20px;
  }
  .css-cpjwqh {
    font-weight: 700;
    font-size: 20px;
  }
  .css-i67o7c {
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 122.2%;
  }
  .css-osoy3t {
    margin: 16px 0px 32px;
    letter-spacing: 0.00938em;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-family: Poppins;
    font-size: 18px;
    line-height: 27px;
  }
  .css-1l4w6pd {
    display: none;
  }
  .css-hh8599 {
    margin: 24px 0px 40px;
    letter-spacing: 0.00938em;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-family: Poppins;
    font-size: 16px;
    line-height: 27px;
  }
  .css-k008qs {
    margin: 0px 0px 0px 8px;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
  }
  .css-vubbuv {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
  }
  .css-2sb83w > .MuiGrid-item {
    padding-left: 46px;
  }
  .css-irodd3 {
    font-size: 14px;
  }

  .newdre {
    display: none;
  }

  .afeqqfqq {
    display: block;
  }
  .afeqqq {
    display: block;
  }
  .css-1asgq2p {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px 20px 0px 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-weight: 500;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    min-width: 64px;
    padding: 6px 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
      color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: rgb(255, 255, 255);
    background: linear-gradient(
      64.83deg,
      rgb(48, 48, 78) 15%,
      rgb(39, 40, 60) 60%
    );
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-transform: capitalize;
    font-family: Poppins;
    border-radius: 18px;
    width: 100%;
    height: 50px;
  }
  .css-11minrs {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 16px 20px 0px 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-weight: 500;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    min-width: 64px;
    padding: 6px 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
      color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: rgb(255, 255, 255);
    background: linear-gradient(
      64.83deg,
      rgb(48, 48, 78) 15%,
      rgb(39, 40, 60) 60%
    );
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-transform: capitalize;
    font-family: Poppins;
    border-radius: 16px;
    width: 100%;
    height: 50px;
  }
}
